# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Day_1_task_1/tmp.cpp
Day_4_task_1/input2
Day_4_task_1/main
Day_4_task_2/main
Day_5_task_2/data1
Day_5_task_2/data2
Day_5_task_2/main
Day_6_task_1/main
Day_6_task_2/input
Day_7_task_1/input
Day_7_task_1/input_test
Day_7_task_1/main
Day_7_task_2/input
Day_7_task_2/input_test
Day_7_task_2/main
Day_9_task_1/main
Day_9_task_2/input
Day_9_task_2/input_test
Day_9_task_2/main
Day_9_task_2/build/Debug/outDebug
Day_8_task_1/input
Day_8_task_1/input_test
Day_8_task_1/main
Day_8_task_2/input
Day_8_task_2/input_test
Day_8_task_2/main
Day_11_task_1/input
Day_11_task_1/input_test
Day_11_task_1/main
Day_11_task_2/input
Day_11_task_2/input_test
Day_11_task_2/main
Day_12_task_1/input
Day_12_task_1/input_test
Day_12_task_1/main
Day_12_task_2/input_test2
Day_12_task_2/main
Day_13_task_1/input
Day_13_task_1/input_test
Day_13_task_1/main
Day_14_task_1/input
Day_14_task_1/input_test
Day_14_task_1/main
Day_14_task_2/input
Day_14_task_2/input_test
Day_14_task_2/main
Day_6_task_2/input_test
Day_6_task_2/input_test:Zone.Identifier
Day_6_task_2/input:Zone.Identifier
Day_6_task_2/main.cpp:Zone.Identifier
Day_15_task_1/input
Day_15_task_1/input_moves
Day_15_task_1/input_test_l
Day_15_task_1/input_test_l_moves
Day_15_task_1/input_test_s
Day_15_task_1/input_test_s_moves
Day_15_task_1/main
Day_15_task_2/input
Day_15_task_2/input_moves
Day_15_task_2/input_test_l
Day_15_task_2/input_test_l_moves
Day_15_task_2/input_test_s
Day_15_task_2/input_test_s_moves
Day_15_task_2/main
Day_16_task_1/input
Day_16_task_1/input_test_m
Day_16_task_1/main
Day_16_task_1/tmp
Day_16_task_1/tmp.cpp
Day_16_task_2/input
Day_16_task_2/input_test_m
Day_16_task_2/input_test_s
Day_16_task_2/main
Day_16_task_2/prof.txt
Day_16_task_2/tmp
Day_16_task_2/tmp.cpp
Day_16_task_2/tmp2
Day_16_task_2/tmp2.cpp
Day_16_task_2/tmpp
Day_16_task_2/build/Debug/outDebug
Day_17_task_1/main
Day_17_task_2/main
Day_19_task_1/input
Day_19_task_1/input_s
Day_19_task_1/main
Day_19_task_2/input
Day_19_task_2/input_s
Day_19_task_2/main
Day_20_task_1/input
Day_20_task_1/input_test_s
Day_20_task_1/main
Day_20_task_2/input
Day_20_task_2/main
Day_21_task_1/as
Day_21_task_1/main
Day_21_task_2/as
Day_21_task_2/main
Day_21_task_2/tmp
Day_21_task_2/tmp.cpp
Day_22_task_1/input
Day_22_task_1/input_s
Day_22_task_1/main
Day_22_task_2/input
Day_22_task_2/input_s
Day_22_task_2/main
Day_22_task_2/main2
.codechecker/reports/compiler_info.json
Day_13_task_2/input
Day_13_task_2/input_test
Day_13_task_2/main
Day_18_task_1/input_test_s
Day_18_task_1/main
Day_18_task_2/input_test_s
Day_18_task_2/main
Day_19_task_1/input_test_s
