# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
Day_1_task_1/tmp.cpp
Day_4_task_1/input2
Day_4_task_1/main
Day_4_task_2/main
Day_5_task_2/data1
Day_5_task_2/data2
Day_5_task_2/main
Day_6_task_1/main
Day_6_task_2/input
Day_7_task_1/input
Day_7_task_1/input_test
Day_7_task_1/main
Day_7_task_2/input
Day_7_task_2/input_test
Day_7_task_2/main
